<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- <div class="logo-div">
    <img src="../img/gglogo.png" alt="logo">
  </div> -->
  <div class="header">
    <div class="logo-div">
        <img src="../img/gglogo.png" alt="logo" style="
        width:220px;
        object-fit: scale-down;">
        <img src="../img/gg.gif", style="
        width:220px">
    </div>
    <nav class="navbar">
        <a href="#" class="toggle-button" id="btns">
        <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <div class="navbar-links" id = "links">
            <ul>
            <li><a href="../">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
            <li><a href="../welcome"><i class="fa fa-user" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </nav>
</div>

      <!-- Nav script -->
      <script type="text/javascript"   src = "js/navbar.js"></script>
</body>
</html>
